// 导出 variables.module.scss，提供给TypeScript使用
:export {
  // 主题背景色
  baseMainTheme: var(--base-main-theme);
  // 菜单 logo等字体颜色
  baseTextColor: var(--base-text-color);

  // 折叠动态左侧菜单宽度
  baseLeftMenuWidth: $base-left-menu-width;
  // 折叠动态左侧菜单宽度
  baseColumnsLeftMenuWidth: $base-columns-left-menu-width;

  // tab右键菜单宽度
  baseContextMenuWidth: $base-context-menu-width;

  svgTheme: var(--color);
}
